@import url('./variables.css');

html::before {
    content: "";
    background-size: cover;
    position: absolute; 
    /* background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cfilter id='paperEffect'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.04' numOctaves='5' result='noise' /%3E%3CfeDiffuseLighting in='noise' lightingColor='%23fff' surfaceScale='2' result='texture'%3E%3CfeDistantLight azimuth='45' elevation='60' /%3E%3C/feDiffuseLighting%3E%3CfeTurbulence type='turbulence' baseFrequency='0.05' numOctaves='3' seed='5' result='tornNoise' /%3E%3CfeDisplacementMap in='SourceGraphic' in2='tornNoise' scale='10' xChannelSelector='R' yChannelSelector='G' result='tornEdges' /%3E%3CfeBlend in='texture' in2='tornEdges' mode='multiply' result='combined' /%3E%3C/filter%3E%3C/defs%3E%3Crect width='100%25' height='100%25' fill='%23ffffff' filter='url(%23paperEffect)' /%3E%3C/svg%3E"); */
    background-image: url("https://images.unsplash.com/photo-1603484477859-abe6a73f9366?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: repeat;
    opacity: 0.15;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

body {
    background-color: var(--tan-bg);

    /* grid */
    /* background-size: 40px 40px; 
    background-image: 
    linear-gradient(to right, rgba(100, 100, 100, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(100, 100, 100, 0.1) 1px, transparent 1px);
    position: relative; 
    z-index: 0; */

    /* dotted background */
    background-image: radial-gradient(#21212130 1px, transparent 1px);
    background-size: 20px 20px;

    color: var(--dark-grey);
    margin: 2rem 7rem 2rem 7rem;
    font-family: var(--serif-font);
    font-size: 1.2rem;
}

h1 {
    font-family: var(--cursive-font);
}

h3 {
    font-family: var(--cursive-font);
    font-weight: normal;
}

a {
    color: var(--navy);
}

mark {
    padding-inline-start: 0.25rem;
    padding-inline-end: 0.25rem;
    color: var(--dark-grey);
    border-radius: var(--infinity);
    background-color: var(--navy-highlight);
    box-decoration-break: clone;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* animations */
.rotate-animation {
    transition: transform 0.25s ease-in-out;
}
.rise-animation {
    transition: transform 0.2s ease;
}

.rise-animation:hover {
    transform: translateY(-2px);
}

.zoom-animation:hover {
    transform: scale(1.05);
}

.show-on-hover {
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.show-on-hover.visible {
    opacity: 1;
}

/* tablet stylings */
@media (max-width: 1024px) {
    

    
}

/* mobile stylings */
@media (max-width: 767px) {
    body{
        margin: 1rem 3.5rem 1rem 3.5rem;
    }

    .hide-on-767 {
        display: none;
    }
}

@media (max-width: 400px) {
    body{
        margin: 1rem 2.5rem 1rem 2.5rem;
    }

    .hide-on-400 {
        display: none;
    }
}