:root {
    /* colours */
    --tan: #F6EEE3;
    --tan-bg: #F6EEE375;
    --dark-grey: #212121;
    --navy: #3e4c7a;
    --navy-highlight: #596dab50;
    --yellow: #FFDC74;
    --yellow-highlight: #FFDC7450;
    --pink: #fe6996;
    --pink-highlight: #fe699650;
    --blue: #019ecd;
    --blue-highlight: #019ecd50;
    --green: #79a203;
    --green-highlight: #79a20350;

    --sticky-yellow: #feff9c;
    --sticky-pink: #feb1d3;
    --sticky-blue: #CCEDFF;

    /* shadows */
    --paper-shadow:
    0 1px 2px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.15),
    0 10px 20px rgba(0, 0, 0, 0.2);
    --sticky-shadow:
    3px 3px 8px rgba(0,0,0,0.25),
    -1px 5px 10px rgba(0,0,0,0.1);

    /* fonts */
    --cursive-font: 'La Belle Aurore', cursive;
    --handwriting-font: 'Edu SA Beginner', sans-serif;
    --serif-font: 'Crimson Text', serif;
    --sharpie-font: 'Walter Turncoat', cursive;

    /* border radius */
    --infinity: 99999px;

    /* breakpoints */
    --bp-tablet: 1024px;
    --bp-mobile: 767px;
    --bp-mobile-xs: 400px;
    --bp-mobile-xxs: 350px;
}