h1.heading {
    margin-bottom: 0;
}

h2.subheading {
    margin-top: 0;
    margin-bottom: 4rem;
}

.home-container {
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;
    justify-content: center;
}

.home-container .stickies-container {
    display: flex;
    gap: 4rem;
}

.home-container .stickies-container .previous-intro-container {
    align-self: flex-end;
}

.hoverable-icon-position {
    position: absolute;
    left: 80%;
    top: 15%;
}

.arrow-icon {
    position: relative;
    bottom: 80%;
    right: 5%;
}

.exclamation-lines-icon {
    position: relative;
    top: 20px;
    left: 100%;
    z-index: 1000;
}

/* tablet stylings */
@media (max-width: 1024px) {
    

    
}

/* mobile stylings */
@media (max-width: 767px) {
    .home-container .polaroid-image {
        height: 20rem !important;
    }

    .home-container .stickies-container {
        flex-direction: column;
        gap: 1rem;
    }

    .arrow-icon {
        bottom: 2%;
        right: 5%;
        transform: rotate(45deg);
    }

    .exclamation-lines-icon {
        top: 10%;
        left: 90%;
    }
}

@media (max-width: 350px) {
    .home-container .polaroid-image {
        height: 17rem !important;
    }

    .exclamation-lines-icon {
        left: 70%;
    }
}