h1.heading {
    margin-bottom: 0;
}

h2.subheading {
    margin-top: 0;
    margin-bottom: 2rem;
}

.home-container {
     display: flex;
     flex-wrap: wrap;
     gap: 10rem;
}

.home-container .stickies-container {
    display: flex;
    gap: 2rem;
}

.home-container .stickies-container .previous-intro {
    align-self: flex-end;
}