h1.heading {
    margin-bottom: 0;
}

h2.subheading {
    margin-top: 0;
    margin-bottom: 4rem;
}

.home-container {
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;
    justify-content: center;
}

.home-container .stickies-container {
    display: flex;
    gap: 4rem;
}

.home-container .stickies-container .previous-intro-container {
    align-self: flex-end;
}

.hoverable-icon-position {
    position: absolute;
    left: 80%;
    top: 15%;
}

.arrow-icon {
    position: relative;
    bottom: 80%;
    right: 5%;
}

.exclamation-lines-icon {
    position: relative;
    top: 20px;
    left: 100%;
}