@import '/src/styles/variables.css';

.postcard-container {
    position: relative;
    width: max-content;
    transition: transform 0.5s ease-in-out;
}

.postcard-content:hover {
    transform: scale(1.01);
}

.postcard-container img.postcard-image {
    box-shadow: var(--paper-shadow);
}

.postcard-container img.postcard-image {
    box-shadow: var(--paper-shadow);
}

.postcard-container p {
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-family: var(--cursive-font);
    font-size: 1.6rem;
    transform: rotate(-10deg);
    color: var(--dark-grey);
    text-align: center;
    line-height: 1.2;
}

form.contact-form {
    position: absolute;
    bottom: 10%;
    right: 5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%
}

.contact-form input, textarea, button {
    background-color: transparent;
    color: var(--dark-grey);
}

.contact-form input, textarea {
    border: none;
    border-bottom: 1px solid var(--dark-grey);
    font-family: var(--sharpie-font);
    font-size: 1.1rem;
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
}

.contact-form button {
    background-color: var(--navy);
    color: white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: none;
    font-family: var(--serif-font);
    cursor: pointer;
    font-size: 0.9rem;
}

.postcard-container .tape-image, .airplane-image {
    position: absolute;
}

.postcard-container .tape-image {
    top: -7%;
    left: -7%;
    width: 12rem;
    transform: scaleX(-1);
}

.postcard-container .airplane-image {
    width: 65rem;
    top: 20%;
    left: -20%;
    z-index: -1;
}