.project-card-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 70%;
    justify-self: center;
}

.project-card {
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
    border: 1px solid #212121;
    border-radius: 20px;
    align-items: center;
    box-shadow: -10px 10px var(--navy);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.project-card:hover {
    transform: scale(1.02);
    box-shadow: -15px 15px var(--navy);
}

.project-info h2 {
    font-family: var(--cursive-font);
    font-weight: normal;
    margin-block: 0;
    color: var(--dark-grey);
}

.project-info a {
    text-decoration: none;
}

.project-title-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: max-content;
}


.icon.link-icon {
    background-image: url('/src/assets/icons/link-grey.png');
    width: 1.3rem;
}

.project-title-link:hover .icon.link-icon {
    background-image: url('/src/assets/icons/link-navy.png');
}

.project-title-link:hover h2 {
    color: var(--navy);
}

.project-skills {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

p.project-description {
    font-size: 1.1rem;
}
