.project-card-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 60%;
    justify-self: center;
}

.project-card {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    border: 1px solid #212121;
    border-radius: 20px;
    align-items: center;
}

.project-info h2 {
    font-family: var(--cursive-font);
    font-weight: normal;
    margin-block: 0;
    color: var(--dark-grey);
}

.project-info a {
    text-decoration: none;
}

.project-skills {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.icon.link-icon {
    background-image: url('/src/assets/icons/link-grey.png');
    width: 1.3rem;
}

.icon.link-icon:hover {
    background-image: url('/src/assets/icons/link-navy.png');
}

.project-title-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

