@import '/src/styles/variables.css';

.sticky{
    display: inline-block;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: var(--sticky-shadow);
    background-color: var(--sticky-color, var(--sticky-yellow));
    aspect-ratio: 1 / 1;
    width: 15rem;
    transform: rotate(var(--sticky-rotate));
    font-family: var(--serif-font);
}

/* @keyframes wiggle {
    0%, 100% { transform: rotate(var(--sticky-rotate)); }
    25% { transform: rotate(calc(var(--sticky-rotate) + 2deg)); }
    75% { transform: rotate(calc(var(--sticky-rotate) - 2deg)); }
} */