@import '/src/styles/variables.css';

.sticky{
    display: inline-block;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: var(--sticky-shadow);
    background-color: var(--sticky-color, var(--sticky-yellow));
    aspect-ratio: 1 / 1;
    width: 15rem;
    transform: rotate(var(--sticky-rotate));
    font-family: var(--serif-font);
}

.sticky h4 {
    font-family: var(--sharpie-font);
    font-weight: normal;
    margin-block: 0;
    font-size: 1.3rem;
}

.sticky.rotate-animation:hover {
    transform: rotate(calc(var(--sticky-rotate) + var(--hover-rotate)));
}

.sticky .tape-image {
    position: absolute;
    top: -10%;
    right: -20%;
    width: 12rem;
}