.hoverable-icon-container {
    width: 100%;
    height: 100%;
}

.icon-group {
    position: relative;
}

.hoverable-icon {
    position: relative;
    transform: rotate(var(--hoverable-icon-rotate));
}

.hover-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -100px;
    /* left: 50%; */
    transform: translateX(-50%);
    pointer-events: none;
    white-space: normal;
    min-width: 150px;
    word-wrap: break-word;
}

.hover-text .emoji {
    font-size: 2rem;
}

.hover-text .text {
    text-align: center;
    margin-top: 0.25rem;
}