@import url('/src/styles/variables.css');

nav a {
    text-decoration: none;
    padding: 0 0.5rem;
    font-family: var(--cursive-font);
    font-size: 1.5rem;
    color: var(--dark-grey);
}

nav a:visited {
    color: var(--dark-grey);
}

/* nav a:hover {
    background-color: var(--highlight-color);
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.nav-icon {
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    gap: 2rem;
    font-weight: 400;
}

/* .nav-link {
  color: black;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  transition: all 0.2s ease;
} */

 /* {
    background-color: var(--highlight-color);
} */



/* .nav-link.active, .nav-link:hover{
    border-radius: var(--infinity);
} */

.nav-link {
    border-radius: var(--infinity);
    background: linear-gradient(
        to right, 
        var(--highlight-color) 100%
    ); 
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out; 
    background-size: 0% 100%; 
    background-position: 0% 100%; 
}

.nav-link:not(.active):hover {
    background-size: 100% 100%;
}

.nav-link.active {
    background-color: var(--highlight-color);
    /* font-weight: bold; */
}

.nav-link[data-color="pink"] {
    --highlight-color: var(--pink-highlight);
}

.nav-link[data-color="yellow"] {
    --highlight-color: var(--yellow-highlight);
}

.nav-link[data-color="blue"] {
    --highlight-color: var(--blue-highlight);
}

.nav-logo {
    height: 3rem;
    display: flex;
}