@import url('/src/styles/variables.css');

nav a {
    text-decoration: none;
    padding: 0 0.5rem;
    font-family: var(--cursive-font);
    font-size: 1.5rem;
}

nav a:visited {
    color: var(--text-color);
}

/* nav a:hover {
    background-color: var(--highlight-color);
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.nav-left {
    font-size: 1.5rem;
}

.nav-right {
    display: flex;
    gap: 1rem;
}

/* .nav-link {
  color: black;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  transition: all 0.2s ease;
} */

 /* {
    background-color: var(--highlight-color);
} */

.nav-link.active, .nav-link:hover{
    background-color: var(--highlight-color);
    border-radius: 20px;
}

.nav-link.active {
    font-weight: bold;
}

