.footer-container {
  padding: 3rem 0 1rem;
}

.footer-container p, h3 {
  font-family: var(--sharpie-font);
  font-size: 1.75rem;
}

p.copyright-text {
  /* font-family: var(--serif-font); */
  font-size: 1.1rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin: 0;
}

.social-icons {
  display: flex;
  gap: 2rem;
}

.icon {
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon.email {
  background-image: url('../../assets/icons/email-grey.png');
}

.icon.email:hover {
  background-image: url('../../assets/icons/email-navy.png');
}

.icon.github {
  background-image: url('../../assets/icons/github-grey.png');
}

.icon.github:hover {
  background-image: url('../../assets/icons/github-navy.png');
}

.icon.linkedin {
  background-image: url('../../assets/icons/linkedin-grey.png');
}

.icon.linkedin:hover {
  background-image: url('../../assets/icons/linkedin-navy.png');
}

/* tablet stylings */
@media (max-width: 1024px) {
    
    
}

/* mobile stylings */
@media (max-width: 767px) {
    footer {
      flex-direction: column;
      gap: 1.5rem;
      align-items: flex-start;
    }
}