@import url('/src/styles/variables.css');

.polaroid{
    background-color: white;
    padding: var(--polaroid-padding, 1rem);
    display: inline-block;
    box-shadow: var(--paper-shadow);
    transform: rotate(var(--polaroid-rotate));
    font-family: var(--cursive-font);
}

.polaroid.rotate-animation:hover {
    transform: rotate(calc(var(--polaroid-rotate) + var(--hover-rotate)));
}

.polaroid-content {
    display: flex;
    flex-direction: column;
    max-width: min-content;
    overflow: hidden;
}

.polaroid-image{
    width: auto;
}

.polaroid-caption {
    padding-top: 1rem;
    text-align: center;
}

.polaroid-caption h2 {
    font-weight: normal;
    margin: 0;
}

img.paperclip {
    width: 2.5rem;
    position: absolute;
    top: -18px;
    left: var(--random-position);
    transform: rotate(var(--polaroid-rotate));
}

img.star {
    width: 3.5rem;
    position: absolute;
    bottom: -20px;
    left: -30px;
    transform: rotate(var(--polaroid-rotate));
}